name: Auto Release

on:
  push:
    branches:
      - feature/release-workflow

jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]
    name: Release for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      GH_TOKEN: ${{ github.token }}
      APPLE_ID: ${{ secrets.APPLE_ID }}
      APPLE_ID_PASS: ${{ secrets.APPLE_ID_PASS }}
      APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
      GPG_KEY_ID: ${{ secrets.GPG_KEY_ID }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22.18.0

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Package & Publish
        run: npm run package:publish